<div class="row justify-content-center  dropdown m-3">
  <a class="btn btn-secondary dropdown-toggle col-3" href="#" role="button" id="dropdownMenuLink"
    data-bs-toggle="dropdown" aria-expanded="false">
    類別
  </a>
  <ul class="dropdown-menu col-3" aria-labelledby="dropdownMenuLink">
    {{#each categories}}
    <li><a value="{{this._id}}" class="dropdown-item" href="/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>


<div class="row justify-content-center">
  <div class=" col-6 m-4 justify-content-center">
    <h1>總金額：<span style="color:rgb(232, 73, 20);font-size:120px;float:right; ">{{totalAmount}}</span>
    </h1>
  </div>
</div>

<ul class="list-group">
  {{#each records}}
  <div class="row justify-content-end ">
    <li class="list-group-item col-6 ">
      <div style="transform:translateY(10px);">
        <i style="color:rgb(0, 238, 255); width:50px;" class=" fa-2xl {{this.icon}}"></i>
        <h4 style="display: inline; vertical-align: middle; width:30px">
          {{ this.name }}
        </h4>
      </div>
      <span class=" m-5" style='font-size: small; '>{{dateFormat this.date
        "YYYY/MM/DD"}}</span>

      <h4 class="mb-1 " style="display: inline-block; float:right; transform:translateY(-15px);">
        {{ this.amount }}
      </h4>
    </li>

    <div class="col-3 mt-3">
      <a class="btn btn-success" href="./records/{{ this._id }}/edit">編輯</a>
      <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger" type="submit">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}
</ul>


<div class="row justify-content-center mt-2">
  <a class="btn col-2" style="background-color:orangered; color:white" href="/records/new">新增支出</a>
</div>