<div class="row justify-content-center ">
  <div class="col-auto">
    <div class="row col-auto ">
      <div class="col-auto">
        <label for="none" class="col-form-label">
          <small class="  ">*必填欄位</small>
        </label>
      </div>
      <div class="col-auto justify-content-center">
        <h4 class="text-center m-3">
          &nbsp&nbsp&nbsp&nbsp請輸入你的支出
        </h4>
      </div>
    </div>
    {{> message}}
    <form action="/records" method="POST" style="display: inline;">
      <div class="row col-auto">
        <div class="col-auto">
          <label for="name" class="col-form-label">
            <h3>名稱*：</h3>
          </label>
        </div>
        <div class="col-auto mt-3 mr-2">
          <input type="text" id="name" name="name" value="{{ name }}">
        </div>
      </div>
      <div class="row col-auto">
        <div class="col-auto">
          <label for="date" class="col-form-label">
            <h3>日期*：</h3>
          </label>
        </div>
        <div class="col-auto mt-3">
          <input type="date" id="date" class="date" name="date" value="{{ date }}">
        </div>
      </div>
      <div class="row col-auto">
        <div class="col-auto">
          <label for="categoryId" class="col-form-label mt-1">
            <h3>類別*：</h3>
          </label>
        </div>
        <div class="col-auto mb-3">
          <select class="choose form-select form-select-lg mb-3" name="categoryId" value="{{categoryId}}">
            {{#each categories}}
            {{#if categoryId}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/if}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row col-auto">
        <div class="col-auto">
          <label for="amount" class="col-form-label">
            <h3>金額*：</h3>
          </label>
        </div>
        <div class="col-auto mt-3">
          <input type="text" id="amount" name="amount" value="{{ amount }}">
        </div>
      </div>
      <div class="createbutton-div row justify-content-end ">
        <button class="btn col-4 createbutton" type="submit">新增支出</button>
      </div>
    </form>
  </div>
</div>